*.xreport
*.data/wt
*.runs/*/xst
*.runs/*/_xmsgs
*.runs/.jobs
*.runs/*/*.bat
*.runs/*/*.js
*.runs/*/*.log
*.runs/*/*.lso
*.runs/*/*.rst
*.runs/*/*.sh
*.runs/*/*.txt
*.runs/*/*.xrpt
*.log
